<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Classement - PadelRank</title>
    <link rel="icon" type="image/png"
      href="{{ url_for('static', filename='images/logo1.png') }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>

    <header class="navbar">

        <div class="logo">
            Padel<span>Rank</span>
        </div>

        <nav>

            <a href="/">
                Accueil
            </a>

            <a href="/simulation">
                Simulateur
            </a>

            <a href="/classement">
                Classement
            </a>

            <a href="#">
                À propos
            </a>

        </nav>

        {% if session.get("utilisateur_id") %}

<a href="/mon-compte" class="connexion">
     {{ session.get("utilisateur_nom") }}
</a>

{% else %}

<a href="/connexion" class="connexion">
    Se connecter
</a>

{% endif %}

    </header>


    <main class="classement-page">

        <div class="classement-container">


            <p class="sur-titre">
                🎾 PADELRANK
            </p>


            <h1>
                Classement FFT
            </h1>


            <p class="classement-intro">
                Consulte les meilleurs classements et suis
                l'évolution de tes points.
            </p>


            <!-- ========================= -->
            <!-- CARTE DU JOUEUR -->
            <!-- ========================= -->

            <div class="classement-card">

                <div class="joueur-info">

                    <div class="avatar">
                        N
                    </div>

                    <div>

                        <span>
                            Ton classement
                        </span>

                        <h2>
                            Joueur PadelRank
                        </h2>

                    </div>

                </div>


                <div class="points-joueur">

                    <span>
                        Points FFT
                    </span>

                    <strong>
                        1 247
                    </strong>

                </div>

            </div>


            <!-- ========================= -->
            <!-- RECHERCHE -->
            <!-- ========================= -->

            <div class="recherche-classement">

    <form action="/classement" method="GET">

        <input
            type="text"
            name="recherche"
            placeholder="Rechercher un joueur..."
            value="{{ recherche }}"
        >

        <button type="submit">
            Rechercher
        </button>

    </form>

</div>


            <!-- ========================= -->
            <!-- TABLEAU -->
            <!-- ========================= -->

            <div class="tableau-classement">

                <div class="ligne-classement entete">

                    <span>
                        Rang
                    </span>

                    <span>
                        Joueur
                    </span>

                    <span>
                        Points
                    </span>

                </div>


                {% for joueur in joueurs %}

                <div class="ligne-classement">

    <strong>{{ joueur["classement"] }}</strong>

    <a
        href="/joueur/{{ joueur['id'] }}"
        class="lien-joueur"
    >
        {{ joueur["prenom"] }} {{ joueur["nom"] }}
    </a>

    <strong>
        {{ joueur["points"] }}
    </strong>

</div>

                {% endfor %}


                {% if not joueurs %}

                <div class="ligne-classement">

                    <span>
                        -
                    </span>

                    <span>
                        Aucun joueur enregistré
                    </span>

                    <strong>
                        -
                    </strong>

                </div>

                {% endif %}

            </div>


        </div>

    </main>


</body>

</html>
